<br>
<% if user_signed_in? %>
  <%= current_user.email %> | 
  <%= link_to '登出', sign_out_sessions_path, method: 'delete' %>
<% else %>
  <%= link_to '註冊', sign_up_users_path %> | 
  <%= link_to '登入', sign_in_sessions_path %>
<% end %>
<h1>餐廳列表</h1>
<br>
<!-- <a href="./new_restaurant.html">a_href新增餐廳</a> -->
<%= link_to '新增餐廳', new_restaurant_path %> <!--盡量用ruby 寫法-->

<table>
  <thead>
    <tr>
      <td>編號</td>
      <td>餐廳</td>
      <td>電話</td>
      <td>信箱</td>
      <td>地址</td>
      <td>描述</td>
      <td>編輯/刪除</td>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |r|%>
    <tr>
      <td><%= r.id%></td>
      <td><%= link_to r.title, restaurant_path(r)%></td>
      <td><%= r.tel %></td>
      <td><%= r.email %></td>
      <td><%= r.address %></td>
      <td><%= r.description %></td>
      <td>
        <%= link_to '編輯', edit_restaurant_path(r) %>
        <%= link_to '刪除', restaurant_path(r), method: 'delete', data: { confirm: "確定刪除資料？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>